GEMINI_API_KEY=
JWT_SECRET=builddreamer_super_secure_jwt_token_2026
DATABASE_URL="postgresql://postgres:builddreamer_secret_password@localhost:5432/builddreamer?schema=public"
AI_PROXY_URL=
NGROK_AUTHTOKEN=
# NGROK_TARGET=3000
FOURSQUARE_API_KEY=

# MinIO Configuration
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin
MINIO_BUCKET=builddreamer-assets
MINIO_PUBLIC_URL=http://localhost:9000

OLLAMA_HOST=http://localhost:12004
